<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">


  <div fxFlex="40" *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + dish.image}} "alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

<div fxFlex="40" *ngIf="dish">
<h1>Comments</h1>
<mat-list >
  <mat-list-item *ngFor="let message of dish.comment">
    <h3 matLine> {{message.comment}} </h3>
    <p matLine>{{message.rating}}</p>
    <p matLine> -- {{message.author}} {{ message.date | date:'medium' }}</p>
   <p matLine></p>
  </mat-list-item>
  <div  class="form-size">
      <p>Plz Give Ur comments </p>
      <p>{{commentForm.value | json}} {{commentForm.status | json }}</p>
<!--      <mat-list >
          <span [hidden]="!(commentForm.status)">
              <h3 matLine> {{commentForm.comment}} </h3>
              <p matLine>{{commentForm.rating}}</p>
              <p matLine> -- {{commentForm.author}} </p>
             <p matLine></p>
         
          <p>Valid Comment</p>
        </span>
      </mat-list>
    -->     
      <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-input-container class="half-width"
            dividerColor="{{(formErrors.author)? 'warn': 'primary'}}">
              <input matInput formControlName="author" placeholder="NAME" type="text" required>
              <mat-hint>
                  <span [hidden]="!(formErrors.author)">{{formErrors.author}}</span>
                </mat-hint>
            </mat-input-container>
        </p> 
            <mat-slider  min="1" max="5" step="1"   thumbLabel tickInterval="1"formControlName="rating" >
            </mat-slider>
          <p>
            <mat-input-container class="full-width"
            dividerColor="{{(formErrors.comment)? 'warn': 'primary'}}">
                <textarea matInput formControlName="comment" placeholder="Your Comment" type="text" rows=10>
                </textarea>
                <mat-hint>
                    <span [hidden]="!(formErrors.comment)">{{formErrors.comment}}</span>
                  </mat-hint>
            </mat-input-container>
        </p>
        <button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
      </form>
    </div>
</mat-list>
</div>