<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px">

<div fxFlex *ngIf="dish">
<mat-card>
<mat-card-header>
<div mat-card-avatar></div>
<mat-card-title>
 <h3>{{dish.name | uppercase}}</h3>
</mat-card-title>
</mat-card-header>
<img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
<mat-card-content>
<p>{{dish.description}}
</p>
</mat-card-content>
</mat-card>
</div>
<div [hidden]="dish">
        <mat-spinner></mat-spinner><h4>Loading....Plz wait</h4>
 </div>

 <div fxFlex *ngIf="promotion">
<mat-card>
<mat-card-header>
<div mat-card-avatar></div>
<mat-card-title>
 <h3>{{promotion.name | uppercase}}</h3>
</mat-card-title>
</mat-card-header>
<img mat-card-image src= {{promotion.image}} alt={{promotion.name}}>
<mat-card-content>
<p>{{promotion.description}}
</p>
</mat-card-content>
</mat-card>
</div>


</div>